/* 적응형 싸이트 (웹 페이지와 모바일 페이지가 주소가 다른 사이트) 2개 만든것

반응형 사이트 (주소가 하나, 미디어 쿼리를 이용해서 같은 사이트 지만 긱기환경에 따라서 맞춰서 보이게 하는 사이트 )

미디어쿼리 
- 화면의 사이즈를 인식해서 서로 다른 css적용시켜 준다 
- 특정 브라우저 폭을 지정해서 css구문을 입력하면 해당 브라우저 폭에서는 미디어 쿼리 안쪽의 구문이 기존 css구문을 덮어 쓴다 
- 원본 css와 더ㅓㅍ어쓸 다른 구간의 속성값이 같다면 생략이 가능, 추가적으로 속성르 더할수도 있다 

- 방법: 미디어 쿼리 구간에서는 전체 너비값을 총합이 100%가 되도록 고정 px이 아닌 %로 바꿔야 한다

- 원본 css구문의 태그 경로 (#wrap .box)을 미디어 쿼리 구간에서도 동일하게 써야 한다 


*/

#box{
  width: 300px; height: 300px; background-color: pink;
  margin: 100px auto; transition: 1s;
}

@media screen and (max-width:900px){
  #box{
    width: 90%; height: 700px; background-color: aqua;
    border-radius: 20px;
  }
}

@media screen and (max-width:400px) {
  #box{
    width: 50%; height: 500px;
    background-color: orange;
    border-radius: 0px;
  }
}
  
